@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#topNav {
	width: 100%;
	height: 70px;

	background-color: #333333;
	color: white;
	padding: 10px;
	text-align: right;

	display: flex;
	justify-content: space-between;
}

#gotoMain {
	text-decoration: none;

	font-size: 2rem;
	font-weight: bold;

	color: white;

	margin-left: 15px;
}

#login>a {
	margin: 10px 10px;
	margin-right: 10px;

	text-decoration: none;
	color: white;
}

#nicname {
	color: rgb(252, 229, 173);

	font-weight: bold;
}

#localSelectBar {
	margin: 20px 0;
	text-align: center;
}

.selectlocal {
	width: 15%;
	height: 5vw;

	padding: 8px 16px;
	margin: 5px;

	background-color: rgb(252, 229, 173);
	color: rgb(0, 0, 0);

	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

#login>a:hover {
	color: rgb(252, 229, 173);
}

.selectlocal:hover {
	background-color: rgb(252, 200, 150);
}

#tripView {
	width: 90%;
	display: flex;
	flex-wrap: wrap;

	/* justify-content:center; */

	margin: 20px auto;
}

.tripbox {
	width: 20vw;
	height: 25vw;


	border: 1.5px solid black;
	background-color: white;

	border-radius: 4px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-self: center;

	margin: 10px;

	padding: 20px 10px;

	cursor: pointer;
}

.tripbox:hover {
	border: 1.5px solid #333333;
	color: rgb(255, 165, 0);
}

.img {
	width: 90%;
	height: 70%;
	background-repeat: no-reapeat;
	background-size: cover;
	background-position: center;

	/* border-radius: 10px; */

	margin-bottom: 20px;
}

#tripTitle {
	height: 20%;
	text-align: center;
}

#add {
	display: block;

	width: 100%;
	height: 5vw;

	background-color: rgb(252, 229, 173);

	border: 0;
	outline: 0;

	border-radius: 10px;

	margin: 20px;

}

#add:hover {
	background-color: rgb(252, 200, 150);
}

.tripbox>p {
	margin: 10px;
}

#mapContainer {
	margin: 0 20px;
}

#map {
	width: 90%;
	height: 50vw;
	background-color: lightgray;
	margin: 20px auto;

}