@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#topNav {
	width: 100%;
	height: 70px;

	background-color: #333333;
	color: white;
	padding: 10px;
	text-align: right;

	display: flex;
	justify-content: space-between;
}

#gotoMain {
	text-decoration: none;

	font-size: 2rem;
	font-weight: bold;

	color: white;

	margin-left: 15px;
}

#login>a {
	margin: 10px 10px;
	margin-right: 10px;

	text-decoration: none;
	color: white;
}

#nicname {
	color: rgb(252, 229, 173);

	font-weight: bold;
}

#localSelectBar {
	margin: 20px 0;
	text-align: center;
}

.selectlocal {
	width: 15%;
	height: 5vw;

	padding: 8px 16px;
	margin: 5px;

	background-color: rgb(252, 229, 173);
	color: rgb(0, 0, 0);

	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

#login>a:hover {
	color: rgb(252, 229, 173);
}

.selectlocal:hover {
	background-color: rgb(252, 200, 150);
}

#mapContainer {
	margin: 0 20px;
}

#map {
	width: 90%;
	height: 50vw;
	background-color: lightgray;
	margin: 20px auto;
}