@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loginMain {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

.loginMain label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.loginMain input[type="text"],
.loginMain input[type="password"] {
	width: calc(100% - 20px);
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.buttonGroup {
	margin-bottom: 10px;
}

.btn {
	padding: 10px;
	background-color: #fff;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	width: 45%;
	margin-right: 5%;
}

.btn:last-child {
	margin-right: 0;
}

.submit {
	width: 100%;
	padding: 10px;
	background-color: rgb(252, 229, 173);
	color: #000;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

.submit:hover {
	background-color: rgb(252, 200, 150);
}